# Backup files for Draw.io
slides/drawings/.$tm-diagrams.drawio.bkp
slides/drawings/.$tm-diagrams.drawio.dtmp

#Code scanning cache
.dccache


# PPT Temp Files
~$*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
*.env

# OSX .DS_Store
*.DS_Store



